---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '../time';

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const formattedDate = formatDate(post.data.pubDate);
const href = `/blog/${post.slug}`;
---

<div
	class="mt-4 rounded-md transition md:mt-8 md:p-4 md:hover:bg-zinc-200 md:hover:bg-opacity-10"
>
	<a href={href}>
		<div class="flex flex-col justify-between lg:flex-row">
			<h2 class="font-bold text-neutral-200">{post.data.title}</h2>
			<span class="text-neutral-400">{formattedDate}</span>
		</div>

		<p class="mt-2 text-neutral-300">{post.data.description}</p>
	</a>
</div>
