---
export interface Props {
  title: string;
  from: string;
  to: string;
  body: string;
  href: string;
}

const { title, href, from, to, body } = Astro.props;
---

<div class="flex p-0.5 bg-zinc-800 transition-all mt-4 hover:scale-105">
  <a href={href} class="w-full no-underline py-4 px-6">
    <p class="m-0 text-2xl font-bold">
      {title}
      <span>&rarr;</span>
    </p>
    <p class="text-gray-500">
      From {from} to {to}
    </p>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</div>
